<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="shortcut icon" href="static/image/favicon.png" sizes="16x16" type="image/png">
    <link rel="icon" href="static/image/favicon.png" sizes="16x16" type="image/png"> -->
    {% block css %}
    <link rel="stylesheet" type="text/css" href={{ site.url + "/static/css/default/style.css" }}>
    {% endblock %}
</head>
<body>
    <div id="wrap">
        <div id="header">
            {% block header %}
            <div class="title">LsdsJy</div>
            <div class="navi">
                <ul>
                    <li><a href={{ site.url }}>HOME</a></li>
                    <li><a href={{ site.url }}>ARCHIVE</a></li>
                    <li><a href={{ site.url + "/about.html"}}>ABOUT</a></li>
                </ul>
            </div>
            {% endblock %}
        </div>
        <div id="main">
            {% block main %}
            {% endblock %}
        </div>
        <div id="footer">
            Copyright {{ 2015 }} {{ site.author }}.
        </div>
    </div>
</body>
</html>
