a {
    text-decoration: none;
}

.clear {
    clear: both;
}

body {
    background-color: #bdc3c7;
    font-family: "Segoe UI", sans-serif;
}

p {
    font-size: 11pt;
    line-height: 15pt;
}

#wrap {
    width: 800px;
    margin: auto;
}

#header {
    width: 800px;
    height: 200px;
    margin: auto;
    background-color: #ecf0f1;
}

#header .title {
    line-height: 120px;
    width: 800px;
    text-align: center;
    font-size: 36px;
    height: 80px;
}

#header .navi {
    width: 800px;
    font-size: 18px;
    height: 120px;
    margin: auto;
    margin-top: 45px;
}

#header .navi ul {
    margin: auto;
    margin-left: 220px;
    list-style: none;
}

#header .navi ul li {
    display: inline-block;
   margin-left: 25px;
}

#header .navi ul li a {
    color: #7f8c8d;
    -webkit-transition: all 0.1s inear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

#header .navi ul li a:hover {
    text-decoration: none;
    color: black;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#main {
    width: 760px;
    margin: auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: white;
}

#main .item {
    margin-top: 40px;
    margin-bottom: 20px;
}

#main .item .title {
    font-size: 20px;
}

#main .item .title a {
    color: #2c3e50;
}

#main .item .title a:hover {
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-bottom-color: #95a5a6;
}

#main .item .content {
    margin-top: 15px;
}

#main .item .content a {
    color: #2c3e50;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #2c3e50;
}

#sidebar {
    position: absolute;
    top: 250px;
    right: 20px;
    width: 150px;
    height: 200px;
    display: block;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#sidebar:hover {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#sidebar .title {
    font-size: 20px;
    color: #2c3e50;
}

#sidebar .content {
    padding-left: 0 !important;
    margin-top: 10px;
    /*margin-left: 20px;*/
}

#sidebar .content ul {
    margin-left: -10px;
    list-style: none;
}

#sidebar .content ul li {
    margin-top: 5px;
}

#sidebar .content ul li a {
    color: #2c3e50;
}

#sidebar .content ul li a:hover {
    border-bottom-style: dashed;
    border-bottom-color: #95a5a6;
    border-bottom-width: 1px;
}

#footer {
    width: 800px;
    height: 100px;
    line-height: 100px;
    margin: auto;
    text-align: center;
    background-color: #ecf0f1;
}
